<!DOCTYPE html>
<html>
  <head>
    <title>You played paper!</title>
    <meta charset="utf-8">
  </head>
  <body>
    
    <h2>We played paper!</h2>
    <h2>They played <%= @comp_move %>!</h2>
    <h2>We <%= @outcome %>!</h2>
  </body>
</html>
